
  body {
    margin: auto;
    max-width: 1000px;
    width: 50%;
    /* width: 50vw; */
    /* text-align: center; */
    font-family: Inter, Verdana, sans-serif;
  }
  @media screen and (max-width: 1200px){
    body{
        width: 70%;
    }
  }
  @media screen and (max-width: 700px){
    body{
        width: 90%;
    }
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    font-weight: 500;
    color: #4800ff;
    text-decoration: inherit;
  }
  a:hover {
    color: #aa55ff;
  }

  ::selection{
    color: white;
    background-color: #9c75ff;
    /* background-color: rgb(72, 0, 255); */
  }
  
  h1 {
    margin: 0px;
    font-size: 2.5em;
    line-height: 1;
    font-weight: 500;
  }
  h2{
    margin: 0px;
    line-height: 1;
    font-weight: 500;
  }
  h3{
    margin: 0px;
    line-height: 1;
  }

  hr{
    /* border: 1px solid #8dbde5; */
    border: none;
    height: 1px;
    background-color: #bea5ff;
  }

  header{
    padding-top: 40px;
    margin-bottom: 30px;
  }

  ul{
    margin: 0;
    list-style: none;
  }

  .devlog{
    /* font-size: 1.1em; */
    line-height: 1.5;
    /* font-weight: 350; */
  }
  img{
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    box-shadow:  5px 5px #4800ff;
  }
  video{
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow:  5px 5px #4800ff;
    /* width: 50%; */
  }
  .tweets{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: solid black; */
  }
  /* blockquote{
    width: 10%;
    border: solid black;
  } */

  footer{
    margin-top: 100px;
    margin-bottom: 200px;
  }
  
  @media (prefers-color-scheme: light) {
    /* :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    } */
  }
  